Repository BZFlag-Dev/bzflag.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @allejo, @blast007, @jwmelto

.github/CODEOWNERS:

.github/           @allejo @blast007
_data/             @blast007
_datasets/         @allejo @blast007
_documentation/    @allejo @blast007 @jwmelto

*.scss    @allejo
*.twig    @allejo @blast007

Phantom zone flag analysis patch
  _documentation/user/flags/phantom-zone.md
Owners: @allejo, @blast007, @jwmelto

Ricochet flag analysis patch v3
  _documentation/user/flags/ricochet.md
Owners: @allejo, @blast007, @jwmelto

Jumping flag analysis patch
  _documentation/user/flags/jumping.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for ricochet flag (#9)
  _documentation/user/flags/ricochet.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for phantom zone flag (#11)
  _documentation/user/flags/phantom-zone.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for oscillation overthruster flag (#12)
  _documentation/user/flags/oscillation-overthruster.md
Owners: @allejo, @blast007, @jwmelto

Add BZDB refs to FM on flags w/docs
  _documentation/user/flags/guided-missile.md
  _documentation/user/flags/laser.md
  _documentation/user/flags/momentum.md
  _documentation/user/flags/obesity.md
  _documentation/user/flags/wide-angle.md
  _documentation/user/flags/wings.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for some API server functions
  _documentation/developer/bzfs_api_functions/bz_APIVersion.md
  _documentation/developer/bzfs_api_functions/bz_MD5.md
  _documentation/developer/bzfs_api_functions/bz_getProtocolVersion.md
  _documentation/developer/bzfs_api_functions/bz_getServerVersion.md
  _documentation/developer/bzfs_api_functions/bz_loadPlugin.md
  _documentation/developer/bzfs_api_functions/bz_unloadPlugin.md
Owners: @allejo, @blast007, @jwmelto

Analysis of identify flag
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Identify flag analysis patch
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for jumping flag (#10)
  _documentation/user/flags/jumping.md
Owners: @allejo, @blast007, @jwmelto

Identify flag analysis patch v2
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Update _documentation/developer/bzfs_api_functions/bz_loadPlugin.md
  _documentation/developer/bzfs_api_functions/bz_loadPlugin.md
Owners: @allejo, @blast007, @jwmelto

Update bz_APIVersion.md
  _documentation/developer/bzfs_api_functions/bz_APIVersion.md
Owners: @allejo, @blast007, @jwmelto

Update _documentation/developer/bzfs_api_functions/bz_APIVersion.md
  _documentation/developer/bzfs_api_functions/bz_APIVersion.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for some API server functions (#14)
  _documentation/developer/bzfs_api_functions/bz_APIVersion.md
  _documentation/developer/bzfs_api_functions/bz_MD5.md
  _documentation/developer/bzfs_api_functions/bz_getProtocolVersion.md
  _documentation/developer/bzfs_api_functions/bz_getServerVersion.md
  _documentation/developer/bzfs_api_functions/bz_loadPlugin.md
  _documentation/developer/bzfs_api_functions/bz_unloadPlugin.md
Owners: @allejo, @blast007, @jwmelto

Identify flag analysis patch v3
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Identify flag analysis patch v4
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Split last paragraph into two sentences
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Add documentation for identify flag (#15)
  _documentation/user/flags/identify.md
Owners: @allejo, @blast007, @jwmelto

Don't classify the navbar as a role of menu
  _includes/navigation.html.twig
Owners: @allejo, @blast007

FM doesn't allow backticks as starting for strings
  _documentation/developer/bzfs_api_functions/bz_loadPlugin.md
  _documentation/developer/bzfs_api_functions/bz_unloadPlugin.md
Owners: @allejo, @blast007, @jwmelto

Add `strong` CSS class
  _sass/utilities/_typography.scss
Owners: @allejo

Add CTF section to the new "Getting Started" page
  _pages/getting-started.html.twig
  _sources/photoshoot/ctf-scene.bzw
  _sources/photoshoot/ctf-scene.cfg
  assets/images/getting-started/ctf-scene.png
Owners: @allejo, @blast007

Add new CSS-only mouse include
  _includes/mouse.html.twig
  _sass/abstracts/_variables.scss
  _sass/components/_mouse.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Add image of colored tanks
  _sources/photoshoot/README.md
  _sources/photoshoot/colored-tanks-lineup.cfg
  _sources/photoshoot/green_screen.bzw
  assets/images/getting-started/colored-tanks-lineup.png
Owners: none

Move HTML keyboard into separate Twig include
  _includes/keyboard.html.twig
  _sass/components/_keyboard.scss
Owners: @allejo, @blast007

Add missing mouse instructions to "Getting Started"
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Split "Getting Started" page into partials + add TOC
  _pages-partials/getting-started/01-register-callsign.html.twig
  _pages-partials/getting-started/02-tank-types.html.twig
  _pages-partials/getting-started/03-game-modes.html.twig
  _pages-partials/getting-started/04-super-flags.html.twig
  _pages-partials/getting-started/05-controls.html.twig
  _pages-partials/getting-started/06-user-interface.html.twig
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Add rabbit hunt photoshoot
  _sources/photoshoot/rabbit-hunters.cfg
  assets/images/getting-started/rabbit-hunters.png
Owners: none

Add start of Flags section for "Getting Started"
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Split up common CSS combinations into components
  _pages/getting-started.html.twig
  _sass/abstracts/_mixins.scss
  _sass/abstracts/_variables.scss
  _sass/components/_heading-group.scss
  _sass/components/_page-split.scss
  _sass/styles.scss.twig
  _sass/utilities/_typography.scss
Owners: @allejo, @blast007

Ignore plugin extensions just in case
  .gitignore
Owners: none

Don't generate buildings on green screen alone
  _sources/photoshoot/green_screen.conf
Owners: none

Add rogue tank photoshop
  _sources/photoshoot/rogue-tanks.cfg
  assets/images/getting-started/rogue-tanks.png
Owners: none

Make "Getting Started" page make semantic sense
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Begin keyboard controls section w/CSS keyboard
  _pages/getting-started.html.twig
  _sass/abstracts/_variables.scss
  _sass/components/_keyboard.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Let standalone keys size to a set width
  _includes/keyboard.html.twig
  _pages/getting-started.html.twig
  _sass/components/_keyboard.scss
Owners: @allejo, @blast007

Give red tank a green flag on CTF photoshoot
  _sources/photoshoot/ctf-scene.cfg
Owners: none

Call it "Flag list" on Getting Started page
  _pages/getting-started.html.twig
Owners: @allejo, @blast007
