Repository BZFlag-Dev/bzflag.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @allejo, @blast007, @jwmelto

.github/CODEOWNERS:

.github/           @allejo @blast007
_data/             @blast007
_datasets/         @allejo @blast007
_documentation/    @allejo @blast007 @jwmelto

*.scss    @allejo
*.twig    @allejo @blast007

Don't reset accordion attributes unnecessarily
  assets/js/main.js
Owners: none

Move sidebar nav to Front Matter for consistency
  _layouts/page-sidebar.html.twig
  _pages/documentation/developer/bzfs_api/events/list.html.twig
  _sass/layout/_sidebar-layout.scss
Owners: @allejo, @blast007

Port all other sidebar layouts to use accordions
  _pages/documentation/developer/bzfs_api/events/list.html.twig
  _pages/documentation/developer/bzfs_api/functions/list.html.twig
  _pages/documentation/developer/bzfs_api/types/list.html.twig
  _pages/documentation/user/flags/show.html.twig
Owners: @allejo, @blast007

Make the API doc tables mobile responsive
  _pages/documentation/developer/bzfs_api/events/show.html.twig
  _pages/documentation/developer/bzfs_api/functions/show.html.twig
  _sass/components/_parameter-table.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Add a "Skip to Content" option
  _layouts/base.html.twig
Owners: @allejo, @blast007

Add captions for all the map screenshots
  _data/media.yaml
  _pages/media.html.twig
  _sass/components/_media.scss
Owners: @blast007, @allejo

Add BG behind jumbotrons for really large screens
  _sass/layout/_jumbotron.scss
Owners: @allejo

Begin support for a lunr.js search
  _pages/search/index.html.twig
  _pages/search/index.js.twig
  _sass/components/_search-result.scss
  _sass/styles.scss.twig
  assets/js/lunr.js
  assets/js/search.js
Owners: @allejo, @blast007

Add support for URL query searching
  _pages/search/index.html.twig
  assets/js/search.js
Owners: @allejo, @blast007

Bold the keywords in search results
  _layouts/page.html.twig
  _pages/search/index.html.twig
  _sass/components/_search-result.scss
  assets/js/search.js
Owners: @allejo, @blast007

Only display sentences with found keywords
  assets/js/search.js
Owners: none

Add new alert components
  _sass/components/_alert.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Show error on JS disabled on Search page
  _pages/search/index.html.twig
  _sass/utilities/_visibility.scss
Owners: @allejo, @blast007

Stylize input for search form
  _pages/search/index.html.twig
  _sass/components/_form.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Add documentation for super bullet flag (#20)
  _documentation/user/flags/super-bullet.md
Owners: @allejo, @blast007, @jwmelto

Correctly limit search results to 10 max
  assets/js/search.js
Owners: none

Use <noscript> instead of a .hide-js class
  _pages/search/index.html.twig
  _sass/utilities/_visibility.scss
Owners: @allejo, @blast007

Replace Lunr with FlexSearch.
  _pages/search/index.html.twig
  _pages/search/index.js.twig
  assets/js/flexsearch.min.js
  assets/js/lunr.js
  assets/js/search.js
Owners: @allejo, @blast007

Use case-insensitive regex.
  assets/js/search.js
Owners: none

Push searches into the history.
  _pages/search/index.html.twig
  assets/js/search.js
Owners: @allejo, @blast007

Manually set page title for page history
  assets/js/search.js
Owners: none

Use the js escape mode for the page content in the search index.
  _pages/search/index.js.twig
Owners: @allejo, @blast007

Make sidebar scrollable only on desktop view
  _layouts/page-sidebar.html.twig
  _sass/layout/_sidebar-layout.scss
Owners: @allejo, @blast007

Remove unused scrollable-sidebar class
  _sass/pages/_documentation.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Add search form to sidebar layout
  _layouts/page-sidebar.html.twig
  _sass/components/_form.scss
Owners: @allejo, @blast007

Update a couple comments and add FlexSearch to the credits page.
  _pages/credits.html.twig
  assets/js/search.js
Owners: @allejo, @blast007

Add search box in the navigation bar
  _includes/navigation.html.twig
  _pages/credits.html.twig
  _sass/layout/_navigation.scss
  _sass/layout/_site-search.scss
  _sass/styles.scss.twig
  assets/images/magnifying-glass.svg
Owners: @allejo, @blast007

Move screenreader classes into a mixin
  _sass/abstracts/_mixins.scss
  _sass/utilities/_visibility.scss
  _sass/vendor/_bootstrap.scss
Owners: @allejo

Show "Skip to Content" above everything else
  _layouts/base.html.twig
  _sass/layout/_header.scss
Owners: @allejo, @blast007

Move search box below nav on lg breakpoint
  _includes/navigation.html.twig
  _sass/layout/_site-search.scss
Owners: @allejo, @blast007

Split up Player related slash commands in collection
  _config.yml
  _documentation/user/pages/slash_commands.md
  _documentation/user/slash_commands/date.md
  _documentation/user/slash_commands/flaghistory.md
  _documentation/user/slash_commands/grouplist.md
  _documentation/user/slash_commands/groupperms.md
  _documentation/user/slash_commands/help.md
  _documentation/user/slash_commands/highlight.md
  _documentation/user/slash_commands/idlestats.md
  _documentation/user/slash_commands/lagstats.md
  _documentation/user/slash_commands/msg.md
  _documentation/user/slash_commands/part.md
  _documentation/user/slash_commands/poll.md
  _documentation/user/slash_commands/questionmark.md
  _documentation/user/slash_commands/quit.md
  _documentation/user/slash_commands/report.md
  _documentation/user/slash_commands/serverquery.md
  _documentation/user/slash_commands/showgroup.md
  _documentation/user/slash_commands/showperms.md
  _documentation/user/slash_commands/silence.md
  _documentation/user/slash_commands/time.md
  _documentation/user/slash_commands/unsilence.md
  _documentation/user/slash_commands/uptime.md
  _documentation/user/slash_commands/vote.md
Owners: @allejo, @blast007, @jwmelto

Analysis of tiny flag
  _documentation/user/flags/tiny.md
Owners: @allejo, @blast007, @jwmelto

Tiny flag analysis patch
  _documentation/user/flags/tiny.md
Owners: @allejo, @blast007, @jwmelto

Split up Admin related slash commands to collection
  _documentation/user/pages/slash_commands.md
  _documentation/user/slash_commands/ban.md
  _documentation/user/slash_commands/banlist.md
  _documentation/user/slash_commands/checkip.md
  _documentation/user/slash_commands/countdown.md
  _documentation/user/slash_commands/flag.md
  _documentation/user/slash_commands/hostban.md
  _documentation/user/slash_commands/hostbanlist.md
  _documentation/user/slash_commands/hostunban.md
  _documentation/user/slash_commands/idban.md
  _documentation/user/slash_commands/idbanlist.md
  _documentation/user/slash_commands/idlist.md
  _documentation/user/slash_commands/idunban.md
  _documentation/user/slash_commands/kick.md
  _documentation/user/slash_commands/kill.md
  _documentation/user/slash_commands/masterban.md
  _documentation/user/slash_commands/modcount.md
  _documentation/user/slash_commands/mute.md
  _documentation/user/slash_commands/playerlist.md
  _documentation/user/slash_commands/record.md
  _documentation/user/slash_commands/replay.md
  _documentation/user/slash_commands/sendhelp.md
  _documentation/user/slash_commands/unban.md
  _documentation/user/slash_commands/unmute.md
  _documentation/user/slash_commands/veto.md
  _documentation/user/slash_commands/viewreports.md
Owners: @allejo, @blast007, @jwmelto

Split up Server Owner related slash commands
  _documentation/user/pages/slash_commands.md
  _documentation/user/slash_commands/gameover.md
  _documentation/user/slash_commands/handicap.md
  _documentation/user/slash_commands/idletime.md
  _documentation/user/slash_commands/jitterdrop.md
  _documentation/user/slash_commands/jitterwarn.md
  _documentation/user/slash_commands/lagdrop.md
  _documentation/user/slash_commands/lagwarn.md
  _documentation/user/slash_commands/packetlossdrop.md
  _documentation/user/slash_commands/packetlosswarn.md
  _documentation/user/slash_commands/reload.md
  _documentation/user/slash_commands/reset.md
  _documentation/user/slash_commands/serverdebug.md
  _documentation/user/slash_commands/set.md
  _documentation/user/slash_commands/shutdownserver.md
  _documentation/user/slash_commands/superkill.md
Owners: @allejo, @blast007, @jwmelto

Add PageViews to display slash commands
  _documentation/user/pages/slash_commands.md
  _pages/documentation/user/slash-commands/list.html.twig
  _pages/documentation/user/slash-commands/show.html.twig
Owners: @allejo, @blast007, @jwmelto

Update URLs in docs landing page
  _documentation/user/pages/index.md
Owners: @allejo, @blast007, @jwmelto

Don't let content in sidebar layout overflow parent
  _sass/layout/_sidebar-layout.scss
Owners: @allejo

Tiny flag analysis patch v2
  _documentation/user/flags/tiny.md
Owners: @allejo, @blast007, @jwmelto

Add redirect from old commands page
  _pages/documentation/user/slash-commands/list.html.twig
Owners: @allejo, @blast007
