Repository BZFlag-Dev/bzflag.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @allejo, @blast007, @jwmelto

.github/CODEOWNERS:

.github/           @allejo @blast007
_data/             @blast007
_datasets/         @allejo @blast007
_documentation/    @allejo @blast007 @jwmelto

*.scss    @allejo
*.twig    @allejo @blast007

Add photoshoots for FFA+OFFA tanks
  _sources/photoshoot/ffa-tanks.cfg
  _sources/photoshoot/offa-tanks.cfg
  assets/images/getting-started/ffa-tanks.png
  assets/images/getting-started/offa-tanks.png
Owners: none

Port "User Interface" section to new Getting Started
  _documentation/user/pages/getting_started.md
  _pages/getting-started.html.twig
  assets/images/documentation/user_interface_layout_small.jpg
  assets/images/getting-started/user-interface-layout.jpg
Owners: @allejo, @blast007, @jwmelto

Rely on editor word wrapping for paragraph content
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Make the green screen a conf instead of world
  _sources/photoshoot/README.md
  _sources/photoshoot/colored-tanks-lineup.cfg
  _sources/photoshoot/green_screen.bzw
  _sources/photoshoot/green_screen.conf
  _sources/photoshoot/rabbit-hunters.cfg
  _sources/photoshoot/rogue-tanks.cfg
Owners: none

Add support for building arrow keys keyboard
  _includes/keyboard.html.twig
  _includes/keyboard_arrows.html.twig
  _pages/getting-started.html.twig
  _sass/components/_keyboard.scss
Owners: @allejo, @blast007

Rearrange "Game Modes" section
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Use new `c-hgroup` component on landing page
  _pages/index.html.twig
Owners: @allejo, @blast007

Add basic keyboard controls section
  _pages/getting-started.html.twig
  _sass/components/_well.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Start of a friendlier 'Getting Started' page
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

Add CSS visibility classes based on breakpoints
  _sass/styles.scss.twig
  _sass/utilities/_visibility.scss
Owners: @allejo, @blast007

Make new 'Getting Started' page official
  _data/navigation.yaml
  _documentation/user/pages/getting_started.md
  _documentation/user/pages/index.md
Owners: @blast007, @allejo, @jwmelto

Improve mobile design to make it bearable
  _pages-partials/getting-started/01-register-callsign.html.twig
  _pages-partials/getting-started/02-tank-types.html.twig
  _pages-partials/getting-started/05-controls.html.twig
  _pages/getting-started.html.twig
  _sass/pages/_getting-started.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Add image for Super Flags section
  _pages-partials/getting-started/04-super-flags.html.twig
  _sources/photoshoot/super-flags.bzw
  _sources/photoshoot/super-flags.cfg
  assets/images/getting-started/super-flags.png
Owners: @allejo, @blast007

Fix grammatical errors
  _pages-partials/getting-started/01-register-callsign.html.twig
  _pages-partials/getting-started/03-game-modes.html.twig
  _pages-partials/getting-started/04-super-flags.html.twig
  _pages-partials/getting-started/06-user-interface.html.twig
Owners: @allejo, @blast007

Don't abuse <abbr> for its styling
  _pages-partials/getting-started/05-controls.html.twig
  _sass/utilities/_typography.scss
Owners: @allejo, @blast007

Move keyboard + mouse HTML generation to macros
  _includes/keyboard.html.twig
  _includes/keyboard_arrows.html.twig
  _includes/mouse.html.twig
  _macros/keyboard_utils.html.twig
  _macros/mouse_utils.html.twig
  _pages-partials/getting-started/05-controls.html.twig
Owners: @allejo, @blast007

Animate mouse scrolling icon
  _sass/components/_mouse.scss
Owners: @allejo

Fix link to 'Getting Started' on help page
  _pages/help.html.twig
Owners: @allejo, @blast007

Escape the `alt` content for Jumbotron images
  _layouts/base.html.twig
Owners: @allejo, @blast007

Add `alt` descriptions for some jumbotron images
  _pages/help.html.twig
  _pages/index.html.twig
Owners: @allejo, @blast007

Give "Getting Started" page a Jumbotron
  _pages/getting-started.html.twig
  assets/images/getting-started/jumbotron.jpg
Owners: @allejo, @blast007

Add support for Jumbotrons to have text
  _layouts/base.html.twig
  _sass/abstracts/_variables.scss
  _sass/layout/_header.scss
  _sass/layout/_jumbotron.scss
Owners: @allejo, @blast007

Add Jumbotron text to "Getting Started"
  _pages/getting-started.html.twig
Owners: @allejo, @blast007

More minor grammar corrections
  _pages-partials/getting-started/03-game-modes.html.twig
  _pages-partials/getting-started/05-controls.html.twig
  _pages-partials/getting-started/06-user-interface.html.twig
Owners: @allejo, @blast007

Add W key to toggle console
  _pages-partials/getting-started/05-controls.html.twig
Owners: @allejo, @blast007

Fix mobile menu getting cut off bc of Jumbotron size
  _layouts/base.html.twig
  _sass/layout/_jumbotron.scss
Owners: @allejo, @blast007

Piwik has been known as Matomo for a while, so call it as such.
  .gitignore
  _data/matomo.yaml.example
  _layouts/base.html.twig
  _pages/privacy.html.twig
Owners: @blast007, @allejo

Minor change to credits page.
  _pages/credits.html.twig
Owners: @allejo, @blast007

s/publically/publicly/ and include some additional information on the privacy page.
  _pages/privacy.html.twig
Owners: @allejo, @blast007

Rewrite sidebar layout to use CSS grids
  _layouts/page-sidebar.html.twig
  _pages/documentation/developer/bzfs_api/events/list.html.twig
  _pages/documentation/developer/bzfs_api/functions/list.html.twig
  _pages/documentation/developer/bzfs_api/types/list.html.twig
  _pages/documentation/user/flags/show.html.twig
  _sass/layout/_sidebar-layout.scss
  _sass/styles.scss.twig
Owners: @allejo, @blast007

Allow regular pages to be "editable"
  _layouts/page.html.twig
Owners: @allejo, @blast007

Remove extra space in a class attribute
  _layouts/page-sidebar.html.twig
Owners: @allejo, @blast007

Analysis of super bullet flag
  _documentation/user/flags/super-bullet.md
Owners: @allejo, @blast007, @jwmelto

Don't bust caches in debug mode
  _layouts/base.html.twig
Owners: @allejo, @blast007

Create new JS-based accordion to collapse sidebars
  _pages/documentation/developer/bzfs_api/events/list.html.twig
  _sass/components/_accordion.scss
  _sass/styles.scss.twig
  assets/js/main.js
Owners: @allejo, @blast007

Isolate our JS from the global scope
  assets/js/main.js
Owners: none

Super bullet flag analysis patch
  _documentation/user/flags/super-bullet.md
Owners: @allejo, @blast007, @jwmelto

Minor refactoring and documentation for accordions
  assets/js/main.js
Owners: none

Allow "full time" accordions to be created
  _sass/components/_accordion.scss
  assets/js/main.js
Owners: @allejo

Add some pretty styling to accordions
  _pages/documentation/developer/bzfs_api/events/list.html.twig
  _sass/components/_accordion.scss
Owners: @allejo, @blast007
